[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "3.4.1"
numpy = "1.22.0"
pandas = "1.2.3"
scipy = "1.6.2"
sklearn = "0.0"
tqdm = "4.60.0"

[dev-packages]
autopep8 = "*"
flake8 = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.8"
